<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Links</title>
</head>
<body>
    <h1>Video Links</h1>
    <p>Total Links: {{ total_links }}</p>
    {% for category in formatted_links %}
        <h2>{{ category.category_header }}</h2>
        <ul>
            {% for link in category.links %}
                <li>{{ link.index }}. <a href="{{ link.url }}" target="_blank">{{ link.url }}</a> (Image Source: {{ link.src }})</li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
